{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
<link rel="stylesheet" href="https://fonts.google.com/share?selection.family=Inter:wght@100..900">

<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
    }

    .example-wrapper code {
        padding: 2px 6px;
    }
</style>

<div class="sidenav">
    <div class="title">
        <div class="logo">
            <img src="{{asset('img/logo.svg')}}" alt="">
            <p> Вариант</p>
        </div>
        {# <div class="search">

        </div> #}

        <form class="search">
            <input type="text" name="searchTerm" placeholder="Поиск">
            {# <button type="submit">Search</button> #}
        </form>
    </div>
    <div class="nav">
        <div class="el">
            <a href="#">Все новости</a>
            <a href="#">Спорт</a>
            <a href="#">Общество</a>
            <a href="#">Экономика</a>
        </div>
    </div>

    <div class="footer">
        <p>© Вариант.</p>
        <p>Островский Константин,</p>
        <p>группа ИСПРВ-17-1</p>
    </div>
</div>

<header>
    <h1>Все контакты</h1>
    <select id="filter_price" class="filter_price">
        <option value="standart">По умолчанию</option>
        <option value="exp">Сначала новые</option>
        <option value="low">Сначала старые</option>
    </select>
</header>
<div class="main">
    {# <img src="{{asset('images/1.svg')}}" alt=""> #}

    {# <div class="container">
        <div class="card">
            <div class="head">
                <div class="type">
                    Общество
                </div>
                <div class="date">
                    сегодня в 18:30
                </div>
            </div>
            <img src="{{asset('img/logo.svg')}}" alt="">
            <div class="title">
                Изготовленный Зурабом Церетели памятник Тихону Хренникову открыли в Ельце
            </div>
            <div class="descr">
                Новая достопримечательность появилась в Ельце. Здесь открыли памятник композитору Тихону Хренникову.
                В этом году исполняется 110 лет со дня его рождения. Двухтонная скульптура полностью из бронзы.
                Её создал народный художник СССР и России, президент Российской академии художеств Зураб Церетели.
                Это первая его работа, установленная в Липецкой области.
            </div>
        </div>
        <div class="card">
            <div class="head">
                <div class="type">
                    Общество
                </div>
                <div class="date">
                    сегодня в 18:30
                </div>
            </div>
            <img src="" alt="">
            <div class="title">
                Изготовленный Зурабом Церетели памятник Тихону Хренникову открыли в Ельце
            </div>
            <div class="descr">
                Новая достопримечательность появилась в Ельце. Здесь открыли памятник композитору Тихону Хренникову.
                В этом году исполняется 110 лет со дня его рождения. Двухтонная скульптура полностью из бронзы.
                Её создал народный художник СССР и России, президент Российской академии художеств Зураб Церетели.
                Это первая его работа, установленная в Липецкой области.
            </div>
        </div>
        <div class="card">
            <div class="head">
                <div class="type">
                    Общество
                </div>
                <div class="date">
                    сегодня в 18:30
                </div>
            </div>
            <img src="" alt="">
            <div class="title">
                Изготовленный Зурабом Церетели памятник Тихону Хренникову открыли в Ельце
            </div>
            <div class="descr">
                Новая достопримечательность появилась в Ельце. Здесь открыли памятник композитору Тихону Хренникову.
                В этом году исполняется 110 лет со дня его рождения. Двухтонная скульптура полностью из бронзы.
                Её создал народный художник СССР и России, президент Российской академии художеств Зураб Церетели.
                Это первая его работа, установленная в Липецкой области.
            </div>
        </div>
        <div class="card">
            <div class="head">
                <div class="type">
                    Общество
                </div>
                <div class="date">
                    сегодня в 18:30
                </div>
            </div>
            <img src="" alt="">
            <div class="title">
                Изготовленный Зурабом Церетели памятник Тихону Хренникову открыли в Ельце
            </div>
            <div class="descr">
                Новая достопримечательность появилась в Ельце. Здесь открыли памятник композитору Тихону Хренникову.
                В этом году исполняется 110 лет со дня его рождения. Двухтонная скульптура полностью из бронзы.
                Её создал народный художник СССР и России, президент Российской академии художеств Зураб Церетели.
                Это первая его работа, установленная в Липецкой области.
            </div>
        </div>
        <div class="card">
            <div class="head">
                <div class="type">
                    Общество
                </div>
                <div class="date">
                    сегодня в 18:30
                </div>
            </div>
            <img src="" alt="">
            <div class="title">
                Изготовленный Зурабом Церетели памятник Тихону Хренникову открыли в Ельце
            </div>
            <div class="descr">
                Новая достопримечательность появилась в Ельце. Здесь открыли памятник композитору Тихону Хренникову.
                В этом году исполняется 110 лет со дня его рождения. Двухтонная скульптура полностью из бронзы.
                Её создал народный художник СССР и России, президент Российской академии художеств Зураб Церетели.
                Это первая его работа, установленная в Липецкой области.
            </div>
        </div>
    </div> #}

    <div class="container">

    </div>


</div>
<script src="{{ asset('script.js') }}"></script>
{% endblock %}